<!-- <button (click)="showOrders()">display</button> 
<div class="card" *ngIf="flag_order"> -->
  <div class="row">
    <div class="col-lg-8">
      <div class="p-5">
        
        <div class="container-fluid bg-3 text-center">
            <h3>My Orders</h3>
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-sm-12 table-responsive">
                    <table class="table-borderless table-condensed table-hover" width="100%">
                        <thead>
                            <tr>
                                <th scope="col">OrderID</th>
                                <th scope="col">UserID</th>
                                <th scope="col">TotalAmount</th>
                               <th scope="col">Expected Delivery Date</th>
                                <th scope="col">Payment Method</th>
                                <th scope="col">Status</th>
                                <th scope="col">details</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of orders" >
                                <td>{{item.orderId}}</td>
                                <td>{{item.userId}}</td>
                                <td>{{item.totalAmount}}</td>
                                <td>{{item.deliveryDate}}</td>
                                <td>{{item.paymentType}}</td>
                                <td>{{item.isCancelled}}</td>
                                <td><button data-toggle="collapse" data-target="#demo" (click)="goItems(item.orderId)" >hi</button>
                                 </td>
                            </tr>
                           
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div *ngIf="flag_orderItems">
    <div class="container" style="margin-top: 40px;">
                             
        <div id="demo" class="collapse">
            <div class="card card-stepper" style="border-radius: 16px;">
                <div class="card-header p-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <div *ngFor="let item of items" >
       
                    <div>
                      <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">{{item.orderId}}</span></p>
                      <!-- <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">{{orderon}}</span> </p>
                      <h6 class="mb-0">View Details </h6> -->
                    </div>
                  
                
                <div class="card-body p-4" style="margin-left: 790px;">
                  <div class="d-flex flex-row mb-4 pb-2">
                    <div class="flex-fill">
                      <h5 class="bold">{{item.productName}}</h5>
                      <p class="text-muted"> Qt: {{item.quantity}}</p>
                      <h4 class="mb-3"> $ {{item.subTotal}}<span class="small text-muted"> via (COD) </span></h4>
                      
                    </div>
                    </div>
                    <div >
                      <!-- <img class="align-self-center img-fluid" style="border-radius: 10px;"
                        src={{images.imageUrl}} width="250"> -->
                    </div>
                  </div>
                  <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteitem(item.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
           
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div>  -->




